button {
	font-size: 14pt;
	font-weight: bold;
	border-left: none;
	border-right: none;
	padding-top: .5vh;
	padding-bottom: .5vh;
	 text-overflow: ellipsis;

}
.statBox {
	 width: 24vw;
	 opacity: .8;
	 border-width: 4px;
	 border-color: white;
	 border-radius: 10px;
	 background-color: rgba(0,0,0,.8);
	 margin-top: 1vh;
	 margin-bottom: .5vh;
	 padding-bottom: 1vh;

}
.mapboxgl-popup-content {
	background-color:  var(--dynColor);

}
.buttonText {
	font-size: 24pt;
}

.input {
	left: 5vw;
	max-width: 28vw;
	top: 6vh;
	position: absolute;
}
.ratingKey {
	background: linear-gradient(red 0%;
	 orange 25%, yellow 50%, green 75%, blue 100%);
}
.card {
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	top: 0vh;
	left: 32vh;
	position: absolute;
	font-size: 26pt;
	flex-direction: column;
	justify-content: space-around;
}
.details {
	max-height: 56vh;
	max-width: 24vw;
	overflow: scroll;
}
tbody {
	overflow: scroll;
}
.deta {
	background-color: white;
	flex: .16;
	padding-left: 1vw;
	border-right: 1px;
	border-color: black;
}
.title {
	font-size: 20pt;
	color: blue;
}
.wrapper {
    display: grid;
    grid-template-columns: 3vw 3vw 6vw 6vw 3vw 3vw;
}























