button {
	font-size: 14pt;
	font-weight: bold;
	border-radius: 6px;
	margin-bottom: .5vh;
	 text-overflow: ellipsis;
}

.buttonText {
	font-size: 24pt;
}
.currentHotel {

}
.input {
	left: 5vw;
	max-width: 28vw;
	top: 6vh;
	position: absolute;

}
.card {
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	top: 0vh;
	left: 32vh;
	position: absolute;
	font-size: 26pt;
	flex-direction: column;
	justify-content: space-around;
}
.details {
	height: 26vh;
	overflow: scroll;
}
tbody {
	overflow: scroll;
}
.deta {
	background-color: white;
	flex: .16;
	padding-left: 1vw;
	border-right: 1px;
	border-color: black;
}
.title {
	font-size: 20pt;
	color: blue;
}