.App {
  flex: 1;
  align-items: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.aside {

  flex: 1;
  flex-direction: column;
  position: relative;
  max-width: 24vw;
  height: 24vh;
  
}
/*.key {
  width: 20vw;
  height: 16vh;
}*/
.top{
  top: 6vh;
  position: absolute;
}
.bannerTop {
  left: 36vw;
  top: 5vh;
  width: 24vw;
  min-height: 20vh;
  position: absolute;
/*  border-width: 2px;
  border-radius: 6px;
  border-color: black;
  opacity: .6;
  color: white;*/

}
.asideCities {

 /* border-radius: 12px;*/
  display: flex;
  flex-direction: column;
  max-height: 36vh;
  max-width: 22vw;
  text-overflow: ellipsis;
  overflow: scroll;
  margin-bottom: 2vh;
  border-width: .1vw;
  border-radius: .6vw
}
.asider {
  right: 2vw;
  top: 5vh;
  position: absolute;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 24vw;
 /* align-items: center;
  justify-content: center;*/
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
