.App {
  flex: 1;
  align-items: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.aside {
  background-color: rgba(0,0,0, .38);
  flex: 1;
  flex-direction: column;
  left: 2vw;
  top: 5vh;
  position: absolute;
  max-width: 20vw;
  height: 94vh;
  
}
.top{
  top: 6vh;
  position: absolute;
}
.bannerTop {
  left: 30vw;
  top: 0vh;
  width: 40vw;
  position: absolute;
}
.asideCities {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 33vh;
  max-width: 20vw;
  overflow: scroll;
  margin-bottom: 2vh;
}
.asideChains {

  left: 5vw;
  top: 34vh;
  position: absolute;
  width: 18vw;
  height: 24vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.asideHotels {

  left: 5vw;
  top: 60vh;
  position: absolute;
  width: 18vw;
  height: 24vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.asider {
  background-color: white;
  right: 2vw;
  top: 5vh;
  position: absolute;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
